<div class="row my-4">
    <h1 class="h2">Overview</h1>
    <div class="col-6 my-3">
        <div class="card w-100">
            <div class="card-header">
                <h5 class="card-title">Pie Chart</h5>
            </div>
            <div class="card-body">
                <!-- <app-pie-cahrt></app-pie-cahrt> -->
                <figure id="pie"></figure>
            </div>
        </div>
    </div>
    <div class="col-6 my-3">
        <div class="card w-100">
            <div class="card-header">
                <h5 class="card-title">Bar Chart</h5>
            </div>
            <div class="card-body">
                <figure id="bar"></figure>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <h1 class="h2">User List</h1>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table border table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Header</th>
                    <th scope="col">Header</th>
                    <th scope="col">Header</th>
                    <th scope="col">Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>random</td>
                        <td>data</td>
                        <td>placeholder</td>
                        <td>text</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>placeholder</td>
                        <td>irrelevant</td>
                        <td>visual</td>
                        <td>layout</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>data</td>
                        <td>rich</td>
                        <td>dashboard</td>
                        <td>tabular</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>information</td>
                        <td>placeholder</td>
                        <td>illustrative</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>text</td>
                        <td>random</td>
                        <td>layout</td>
                        <td>dashboard</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
