<div class="row my-4">
    <h1 class="h2">Overview</h1>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-header" #pieChart>
                <h5 class="card-title">Pie Chart</h5>
            </div>
            <div class="card-body">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-header" #barChart>
                <h5 class="card-title">Bar Chart</h5>
            </div>
            <div class="card-body">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <h1 class="h2">User List</h1>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of userData">
                        <td>{{ row.firstName }}</td>
                        <td>{{ row.lastName }}</td>
                        <td>{{ row.username }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
